/communicationCenter.class
/constructionVehicle.class
/constructionYard.class
/drone.class
/factory.class
/goldMine.class
/gunTurret.class
/harvester.class
/heavyTank.class
/lightPole.class
/lightTank.class
/missileTurret.class
/palmTree.class
/powerPlant.class
/refinery.class
/rocketTank.class
/solidObject.class
/stealthTank.class
/techCenter.class
/tokenObject.class
