/baseExpensionAI.class
/buildingManagerAI.class
/combatManagerAI.class
/defenseManagerAI.class
/economyManagerAI.class
/enemyCommander.class
/mapAwarenessAI.class
/microManagementAI.class
/scoutingManagerAI.class
/unitProductionAI.class
/harassmentAI.class
